<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>历史数据</title>

    <link rel="stylesheet" href="{% static 'css/website.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <script src="{% static 'js/vue.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/reqwest.js' %}" charset="utf-8"></script>
{#    <script src="https://cdn.bootcss.com/reqwest/2.0.5/reqwest.min.js"></script>#}
</head>

<body>
{% verbatim %}
    <div id="index">

        <!--顶部导航栏-->
        <div class="topmenu">
            <ul class="nav">
                    <li class="column"><a href="/home">首页</a></li>
                    <li class="column"><a href="/now_time_data/">实时数据</a></li>
                    <li class="column"><a href="/history_data/">历史数据</a></li>
                    <li class="column"><a href="http://47.102.149.112/admin/">后台管理</a></li>
            </ul>
        </div>




        <div id="box">
            <div>
                <div>历史数据：</div>
                <div  v-for="item in get_data">{{ item.get_data }}</div>  <!--通过Vue渲染和Ajax得到数据库数据-->
            </div>
         </div>


</div>

{% endverbatim %}


    <script src="{% static 'js/index.js' %}" charset="utf-8"></script>


</body>
</html>
