<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <script src="{% static 'js/vue.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/reqwest.js' %}" charset="utf-8"></script>
{#    <script src="https://cdn.bootcss.com/reqwest/2.0.5/reqwest.min.js"></script>#}
</head>

<body>

    <div id="index">

        <!--顶部导航栏-->
        <div class="topmenu">
            <ul class="nav">
                    <li class="column"><a href="/home">首页</a></li>
                    <li class="column"><a href="/now_time_data/">实时数据</a></li>
                    <li class="column"><a href="/history_data/">历史记录</a></li>
                    <li class="column"><a href="http://47.102.149.112/admin/">后台管理</a></li>
            </ul>
        </div>
	

    <div id="box">
            <div><p>欢迎来到首页</p> <br />
                <a href="/air_cdtion_ctr">空调管理</a>
                <a href="/room_check">房间管理</a>
                <a href="/logout">登出</a>
            </div>
    </div>


</div>

    <script src="{% static 'js/index.js' %}" charset="utf-8"></script>



</body>
</html>
