<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>实时数据</title>
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <script src="{% static 'js/vue.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/reqwest.js' %}" charset="utf-8"></script>
{#    <script src="https://cdn.bootcss.com/reqwest/2.0.5/reqwest.min.js"></script>#}
</head>

<body>
{% verbatim %}
    <div id="index">

       <!--顶部导航栏-->
        <div class="topmenu">
            <ul class="nav">
                    <li class="column"><a href="/home">首页</a></li>
                    <li class="column"><a href="/now_time_data/">实时数据</a></li>
                    <li class="column"><a href="/history_data/">历史记录</a></li>
                    <li class="column"><a href="http://47.102.149.112/admin/">后台管理</a></li>
            </ul>
        </div>



         <div id="box">
            <div>
             单片机实时传输数据：
            <div>{{ now_data.get_data }}</div>
            </div>
        </div>


</div>

{% endverbatim %}


    <script src="{% static 'js/index.js' %}" charset="utf-8"></script>



</body>
</html>