<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
    <title>登录注册</title>
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth_admin.css' %}">
    <script src="{% static 'js/vue.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/reqwest.js' %}" charset="utf-8"></script>
{#    <script src="https://cdn.bootcss.com/reqwest/2.0.5/reqwest.min.js"></script>#}
</head>

<body>
{% verbatim %}
    <div id="index">
        <div id="box">
            <div class="top">请先登录</div>
            <div>
                <div class="btn0">
                   <button class="btn" type="button">
                       <a href="/login">登录</a>
                   </button>
                    <!--<a href="/logout">登出</a>-->
                    <button class="btn" type="button">
                        <a href="/register">注册</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endverbatim %}


    <script src="{% static 'js/index.js' %}" charset="utf-8"></script>


</body>
</html>
