<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <script src="{% static 'js/vue.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/reqwest.js' %}" charset="utf-8"></script>
{#    <script src="https://cdn.bootcss.com/reqwest/2.0.5/reqwest.min.js"></script>#}
</head>

<body>
{% verbatim %}
    <div id="index">

        <!--顶部导航栏-->
        <div class="top_menu">
            <div class="container">
                <div class="ui one column grid">
                    <div class="column">请先登录</div>
                </div>
            </div>
        </div>

        <!--首页幻灯-->
        <div id="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div v-for="item in banner" class="swiper-slide">
                      <img :src="item.img" width=100% height=332 alt="">
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <a href="/login">登录</a>

        <!--<a href="/logout">登出</a>-->

        <a href="/register">注册</a>




</div>

{% endverbatim %}


    <script src="{% static 'js/index.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/swiper.js' %}" charset="utf-8"></script>
     <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper('.swiper-container', {
          spaceBetween: 30,
          centeredSlides: true,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
      </script>
</body>
</html>
