<!DOCTYPE html>
{% load static %}
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css/auth_admin.css' %}">
</head>

<body>
<div id="index">
    <div id ='box'>
        <h1>登录</h1>
        <form action="" method="POST" style="border:1px solid #666666;">
            {% csrf_token %}
            <input type="text" name="用户名" placeholder="用户名" style="height:60px; width:499px; margin-top: 50px; font-size: 35px;">
            <br />
            <input type="password" name="密码" placeholder="密码" style="height:60px; width:499px; font-size: 35px;">
            <br />
            <button class="btn" type="submit" style="margin-top: 50px">登录</button>
            <a href="/" style="font-size: 50px">主界面</a>
            <br />{{ error }}
        </form>
    </div>
</div>

</body>
</html>