<!DOCTYPE html>
{% load static %}
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="{% static 'css/auth_admin.css' %}">
</head>

<body>
<div id="index">
    <div id="register">
        <h1 style="text-align: center">注册</h1>

        <form action="" method="POST">
        {% csrf_token %}
            <p>
                <label for="id_username">用户:</label>
                <input type="text" name="username" maxlength="150" autofocus required id="id_username">

                <br /><span class="helptext">必填。150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</span>
            </p>
                {{ register_form.errors.username }}
            <p>
                <label for="id_password1">密码:</label>
                <input type="password" name="password1" required id="id_password1">
                <br /><span class="helptext">
                    <ul>
                        <li>你的密码不能与你的其他个人信息太相似。</li>
                        <li>你的密码必须包含至少 8 个字符。</li>
                        <li>你的密码不能是大家都爱用的常见密码。</li>
                        <li>你的密码不能全部为数字。</li>
                    </ul>
                </span>
            </p>
                {{ register_form.errors.password1 }}
            <p>
                <label for="id_password2">确认:</label>
                <input type="password" name="password2" required id="id_password2">
                <br />
                <span class="helptext">为了校验，请输入与上面相同的密码。
                </span>
            </p>
                {{ register_form.errors.password2 }}
            <p>
                <label for="id_email">邮件:</label>
                <input type="email" name="email" maxlength="254" id="id_email">
            </p>
                {{ register_form.errors.email }}
            <p>
                <label for="id_昵称">昵称:</label>
                <input type="text" name="昵称" maxlength="50" id="id_昵称">
            </p>

            <p>
                <label for="id_生日">生日:</label>
                <input type="date" name="生日" id="id_生日">
            </p>
            <button type="submit" class="btn" style="margin: 0 0 0 180px; ">注册</button>
            <a href="/" style="margin-left: 40px; font-size: 50px">主界面</a>

        </form>
    </div>
</div>
</body>
</html>